
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
        <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav class='navbar' id='headers'>
            <div class='navbar-logo'>
            <i class="fa-solid fa-martini-glass-citrus"></i>
            </div>
                <div class='navbar-menu'>
                    <div class='navbar-left'>
                        <li><a href="/survey">칵테일 추천받기</a></li>
                        <li><a href="/alcohol-list">칵테일 알아보기</a></li>
                        <li><a href="/community/:{category}">게시판</a></li>
                    </div>
                    <div class='navbar-right '>
                        <li id='login'><a href="/login">로그인</a></li>
                        <li id='register'><a href="/register">회원가입</a></li>
                        <li id='mypage' class='disappear'><a href="/my-page">마이페이지</a></li>
                        <li id='logout' class='disappear'><a href="/">로그아웃</a></li>
                    </div>
                </div>
            <a class='navbar-togglebtn disappear'><i class="fas fa-bars"></i></a>
        </nav>
    </body>
    <script src='./header.js'> </script>
</html>
