<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        />
        <title>Page Title</title>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
        />
        <link
            rel="stylesheet"
            href="/staticComponent/header2.css"
        />
        <link
            rel="stylesheet"
            href="/staticComponent/footer.css"
        />

        <style>
            #editor {
                margin: 0 auto;
            }
        </style>

        <!-- TOAST UI Editor CDN URL(CSS)-->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"
        />
        <link
            rel="stylesheet"
            href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
        />

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="wrapper_ch">
            <header>
                <div id="header"></div>
            </header>
            <input
                type="text"
                placeholder="제목을 입력하세요"
                name="title"
                required
            />

            <div id="editor"></div>
            <br />
            <button
                type="button"
                onclick="submitHandler()"
            >
                수정하기
            </button>
        </div>
        <footer>
            <div id="footer"></div>
        </footer>

        <script src="/staticComponent/footer.js"></script>
        <script src="/staticComponent/header.js"></script>
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <script>
            let editor;
        </script>
        <script src="\communityPostPage\modifyBoardPage.js"></script>
    </body>
</html>
