<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
    </head>

    <body>
        <h1>main</h1>

        <header>
            <ul>
                <li><a href="/survey">설문조사 하러가기</a></li>
                <li><a href="/survey/result">최근 결과 보러 가기</a></li>
                <li><a href="/register">회원가입</a></li>
                <li><a href="/login">로그인</a></li>
                <section></section>
            </ul>
        </header>
    </body>
</html>
