<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
        <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
        <script src="https:/cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="/staticComponent/header2.css">
        <link rel="stylesheet" href="/staticComponent/footer.css">
        <style>
            img {
                border-radius: 20px;
            }

            .thumbsnail {
                max-width: 100%;
            }

            .text_title {
                font-weight: 600;
                text-align: left;
                font-size: 20px;
                margin: 5px 0 5px 0;
            }
            .info {
                display: block;
                color: #7f8487;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 100%;
                margin: 0;
            }
        </style>
    </head>

    <body>
        <header>
            <div id='header'></div>
        </header>
        <main>
            <carousel>개발 중</carousel>
            <article
                id="randomCocktail"
                style="display: flex"
            ></article>
        </main>
        <footer>
            <div id='footer'></div>
        </footer>
        <script src="\main\mainPage.js"></script>
        <script src='/staticComponent/footer.js'></script>
        <script src="/staticComponent/header.js"></script>
    </body>
    
</html>
