<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
        <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
        <link
            rel="stylesheet"
            href="\commonCSS\header.css"
        />
        <link
            rel="stylesheet"
            href="\main\mainPage.css"
        />
    </head>

    <body>
        <header>
            <div>
                <div>
                    <i
                        style="font-size: 70px; color: yellow"
                        class="fa-solid fa-martini-glass-citrus"
                    ></i>
                    <h3>오늘의 술</h3>
                </div>
                <nav>
                    <p><a href="/survey-select">칵테일 추천받기</a></p>
                    <p><a href="/alcohol-list">칵테일 알아보기</a></p>
                    <p><a href="/community">게시글 보러가기</a></p>
                </nav>
            </div>
            <div>
                <p><a href="/login">로그인</a></p>
                <p><a href="/register">회원가입</a></p>
            </div>
        </header>
    </body>
</html>
