<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>

        <link
            rel="stylesheet"
            href="\alcoholListFilter\alcoholListFilter.css"
        />
        <link
            rel="stylesheet"
            href="\alcoholList\alcoholList.css"
        />
        <link
            rel="stylesheet"
            href="/staticComponent/header2.css"
        />
        <link
            rel="stylesheet"
            href="/staticComponent/footer.css"
        />

        <title>칵테일 알아보기</title>
    </head>
    <body>
        <div id="wrapper_ch">
            <header>
                <div id="header"></div>
            </header>

            <div>
                <button id="filterBtnModal">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div
                id="modal"
                class="modal-overlay"
            >
                <div class="modal-window">
                    <div class="title">
                        <P>자세히 찾아보기 <br />(중복 선택O)</P>

                        <div class="close-area">X</div>
                    </div>
                    <div class="content">
                        <form id="filterForm">
                            <label for="abvScores"
                                >도수 점수 (숫자가 클 수록 도수가
                                높습니다!)</label
                            >
                            <div
                                class="rating-buttons"
                                id="abvRatingButtons"
                            >
                                <button
                                    type="button"
                                    class="rating-button"
                                    data-value="1"
                                >
                                    1
                                </button>
                                <button
                                    type="button"
                                    class="rating-button"
                                    data-value="2"
                                >
                                    2
                                </button>
                                <button
                                    type="button"
                                    class="rating-button"
                                    data-value="3"
                                >
                                    3
                                </button>
                                <button
                                    type="button"
                                    class="rating-button"
                                    data-value="4"
                                >
                                    4
                                </button>
                                <button
                                    type="button"
                                    class="rating-button"
                                    data-value="5"
                                >
                                    5
                                </button>
                            </div>
                            <br />
                            <label for="tasteScores"
                                >맛 점수 (숫자가 클 수록 맛이 답니다!)</label
                            >
                            <div
                                class="rating-buttons"
                                id="tasteRatingButtons"
                            >
                                <button
                                    type="button"
                                    class="rating-button"
                                    data-value="1"
                                >
                                    1
                                </button>
                                <button
                                    type="button"
                                    class="rating-button"
                                    data-value="2"
                                >
                                    2
                                </button>
                                <button
                                    type="button"
                                    class="rating-button"
                                    data-value="3"
                                >
                                    3
                                </button>
                                <button
                                    type="button"
                                    class="rating-button"
                                    data-value="4"
                                >
                                    4
                                </button>
                                <button
                                    type="button"
                                    class="rating-button"
                                    data-value="5"
                                >
                                    5
                                </button>
                            </div>
                            <br />
                            <button
                                type="submit"
                                class="filter_btn"
                            >
                                검색
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 모달 끝 -->
            <section id="container">
                <div id="wrapper">
                    <% for (let i=0; i < data.length; i++) {%>
                    <div class="item">
                        <a
                            href="/alcohol-list/detail/<%= data[i].id %>"
                            class="a_box"
                        >
                            <div class="thumbsnail_box">
                                <img
                                    class="thumbsnail"
                                    src="https://todaysalcohols3.s3.ap-northeast-2.amazonaws.com/<%=data[i].id%>.jpg"
                                />
                            </div>
                            <p class="text_title"><%= data[i].name %></p>
                            <p class="info"><%= data[i].info %></p>
                        </a>
                    </div>

                    <%}%> <% for (let i=0; i < 4; i++) {%>
                    <div class="hidden">
                        <img
                            class="thumbsnail"
                            src=""
                        />
                        <h3 class="text_title"></h3>
                        <p class="info"></p>
                    </div>
                    <%}%>
                </div>
            </section>
        </div>
        <footer>
            <div id="footer"></div>
        </footer>
        <script src="\alcoholListFilter\alcoholListFilter.js"></script>
        <script src="/staticComponent/footer.js"></script>
        <script src="/staticComponent/header.js"></script>
    </body>
</html>
