<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

		<title>Document</title>
	</head>
	<body>
		<form id="slect_form">
			<h1></h1>
			<input type="text" name="category" />
			<button type="button" onclick="alcoholFunc()">버튼</button>
		</form>

		<script>
			//axios로
			(function () {
				axios({
					url: 'alcoholList',
					method: 'get',
				}).then(function (res) {
					console.log('asdf', res);
				});
			})();
		</script>
	</body>
</html>
