<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="./header.css"
        />
        <title>Document</title>
    </head>
    <body>
        <header
            class="header"
            id="header-main"
        >
            <ul
                class="navbar-left"
                style="display: flex; list-style-type: none"
            >
                <li
                    class="nav-1"
                    style="color: black"
                >
                    <a href="/survey">설문조사</a>
                </li>
                <li class="nav-2">
                    <a href="/alcohol-list/">술종류</a>
                </li>
                <li class="nav-3">
                    <a href="/community">커뮤티니</a>
                </li>
            </ul>
            <ul
                class="navber-right"
                style="display: flex; list-style-type: none"
            >
                <li><a href="/login">로그인</a></li>
                <li><a href="/register">회원가입</a></li>
                <li><a href="/my-page">마이페이지</a></li>
            </ul>
        </header>
    </body>
</html>
