<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div>
            <h1>Q1</h1>
            <form>
                <input
                    type="radio"
                    name="Q1"
                    id="Q1A1"
                    value="1"
                />
                <label for="Q1A1">A1</label>
                <input
                    type="radio"
                    name="Q1"
                    id="Q1A2"
                    value="2"
                />
                <label for="Q1A2">A2</label>
                <input
                    type="radio"
                    name="Q1"
                    id="Q1A3"
                    value="3"
                />
                <label for="Q1A3">A3</label>
            </form>
        </div>
        <div>
            <h1>Q2</h1>
            <form>
                <input
                    type="radio"
                    name="Q2"
                    id="Q2A1"
                    value="1"
                />
                <label for="Q2A1">A1</label>
                <input
                    type="radio"
                    name="Q2"
                    id="Q2A2"
                    value="2"
                />
                <label for="Q2A2">A2</label>
                <input
                    type="radio"
                    name="Q2"
                    id="Q2A3"
                    value="3"
                />
                <label for="Q2A3">A3</label>
            </form>
        </div>
        <div>
            <h1>Q3</h1>
            <form>
                <input
                    type="radio"
                    name="Q3"
                    id="Q3A1"
                    value="1"
                />
                <label for="Q3A1">A1</label>
                <input
                    type="radio"
                    name="Q3"
                    id="Q3A2"
                    value="2"
                />
                <label for="Q3A2">A2</label>
                <input
                    type="radio"
                    name="Q3"
                    id="Q3A3"
                    value="3"
                />
                <label for="Q3A3">A3</label>
            </form>
        </div>
        <div>
            <h1>Q4</h1>
            <form>
                <input
                    type="radio"
                    name="Q4"
                    id="Q4A1"
                    value="1"
                />
                <label for="Q4A1">A1</label>
                <input
                    type="radio"
                    name="Q4"
                    id="Q4A2"
                    value="2"
                />
                <label for="Q4A2">A2</label>
                <input
                    type="radio"
                    name="Q4"
                    id="Q4A3"
                    value="3"
                />
                <label for="Q4A3">A3</label>
            </form>
        </div>
        <div>
            <h1>Q5</h1>
            <form>
                <input
                    type="radio"
                    name="Q5"
                    id="Q5A1"
                    value="1"
                />
                <label for="Q5A1">A1</label>
                <input
                    type="radio"
                    name="Q5"
                    id="Q5A2"
                    value="2"
                />
                <label for="Q5A2">A2</label>
                <input
                    type="radio"
                    name="Q5"
                    id="Q5A3"
                    value="3"
                />
                <label for="Q5A3">A3</label>
            </form>
        </div>
        <div>
            <h1>Q6</h1>
            <form>
                <input
                    type="radio"
                    name="Q6"
                    id="Q6A1"
                    value="1"
                />
                <label for="Q6A1">A1</label>
                <input
                    type="radio"
                    name="Q6"
                    id="Q6A2"
                    value="2"
                />
                <label for="Q6A2">A2</label>
                <input
                    type="radio"
                    name="Q6"
                    id="Q6A3"
                    value="3"
                />
                <label for="Q6A3">A3</label>
            </form>
        </div>
        <div>
            <h1>Q7</h1>
            <form>
                <input
                    type="radio"
                    name="Q7"
                    id="Q7A1"
                    value="1"
                />
                <label for="Q7A1">A1</label>
                <input
                    type="radio"
                    name="Q7"
                    id="Q7A2"
                    value="2"
                />
                <label for="Q7A2">A2</label>
                <input
                    type="radio"
                    name="Q7"
                    id="Q7A3"
                    value="3"
                />
                <label for="Q7A3">A3</label>
            </form>
        </div>
        <div>
            <h1>Q8</h1>
            <form>
                <input
                    type="radio"
                    name="Q8"
                    id="Q8A1"
                    value="1"
                />
                <label for="Q8A1">A1</label>
                <input
                    type="radio"
                    name="Q8"
                    id="Q8A2"
                    value="2"
                />
                <label for="Q8A2">A2</label>
                <input
                    type="radio"
                    name="Q8"
                    id="Q8A3"
                    value="3"
                />
                <label for="Q8A3">A3</label>
            </form>
        </div>
        <div>
            <h1>Q9</h1>
            <form>
                <input
                    type="radio"
                    name="Q9"
                    id="Q9A1"
                    value="1"
                />
                <label for="Q9A1">A1</label>
                <input
                    type="radio"
                    name="Q9"
                    id="Q9A2"
                    value="2"
                />
                <label for="Q9A2">A2</label>
                <input
                    type="radio"
                    name="Q9"
                    id="Q9A3"
                    value="3"
                />
                <label for="Q9A3">A3</label>
            </form>
        </div>
        <div>
            <h1>Q10</h1>
            <form>
                <input
                    type="radio"
                    name="Q10"
                    id="Q10A1"
                    value="1"
                />
                <label for="Q10A1">A1</label>
                <input
                    type="radio"
                    name="Q10"
                    id="Q10A2"
                    value="2"
                />
                <label for="Q10A2">A2</label>
                <input
                    type="radio"
                    name="Q10"
                    id="Q10A3"
                    value="3"
                />
                <label for="Q10A3">A3</label>
            </form>
        </div>
        <button>클릭</button>
        <script src="./surveyPage/surveyPage.js"></script>
    </body>
</html>
