<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
    </head>
    <body>
        <button
            type="button"
            class="doSurvey"
        >
            설문조사 하기
        </button>
        <button
            type="button"
            class="doRecent"
        >
            최근 결과 보기
        </button>
        <script src="\surveyPage\surveySelectPage.js"></script>
    </body>
</html>
