<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link rel="stylesheet" href="/staticComponent/header2.css">
        <link rel="stylesheet" href="/staticComponent/footer.css">
        <title>Document</title>
    </head>
    <body>
        <header>
            <div id='header'></div>
        </header>
        <button
            type="button"
            class="doSurvey"
        >
            설문조사 하기
        </button>
        <button
            type="button"
            class="doRecent"
        >
            최근 결과 보기
        </button>
        <footer>
            <div id='footer'></div>
        </footer>
        <script src="\surveyPage\surveySelectPage.js"></script>
        <script src='/staticComponent/footer.js'></script>
        <script src="/staticComponent/header.js"></script>
    </body>
</html>
