button {
    background-color: transparent;
    border-radius: 10%;
    border: 1px solid gray;
}

.entireBtn > button:hover {
    background-color: rgb(140, 111, 77);
    color: white;
}

.commentBtn {
    background-color: white;
    border: 1px solid gray;
}

.commentBtn:hover {
    background-color: rgb(140, 111, 77);
    color: white;
    border: none;
}

.commentTitle {
    font-size: 30px;
}

.entireWrap {
    height: 100%;
    padding: 0 6rem;
}
#comment {
    border: 1px solid gray;
    width: 30%;
    margin-left: 30px;
    height: 40px;
}
/* 댓글 li 리스트 */
.commentList {
    padding-left: 0;
    padding: 0 40px;
}

/* 게시물 내용 */
.toastui-editor-contents > p {
    font-size: 20px;
}

li {
    list-style: none;
    display: flex;
}

/* 댓글 목록 */
.commentList {
    font-size: 15px;
}
.commentList > li {
    border-bottom: 1px dashed #2b5059;
    padding: 10px;
}
.entireBtn {
    margin-bottom: 5px;
    padding: 0 6rem;
    margin-top: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    border-bottom: 1px solid black;
}

.commentPagination > li {
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}
.commentPagination > li > a {
    color: #719ba6;
    text-decoration: none;
}
.commentPagination > li > a:hover,
.commentPagination > li > a:active {
    color: #594634;
    text-decoration: none;
}

/* 게시물 부분 */
.article_wrap {
    margin-top: 20px;
    margin-bottom: 25px;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1179px) {
    .entireWrap {
        height: 100%;
        padding: 0 2rem;
    }
    #comment {
        width: 50%;
        margin-top: 10px;
    }
    .entireBtn {
        padding: 0 2rem;
    }
}

/* 모바일 */
@media all and (max-width: 767px) {
    .entireWrap {
        height: 100%;
        padding: 0 2rem;
    }

    /* 댓글 전체 감싸는부분 */
    .comment_wrap {
        padding-left: 10px;
    }

    /* 게시물 부분 */
    .article_wrap {
        margin-top: 20px;
        margin-bottom: 25px;
    }
    #comment_wrap {
        padding-top: 20px;
    }

    #comment {
        margin-top: 10px;
        margin-left: -50px;
        width: 80%;
    }
    .entireBtn {
        padding: 0 2rem;
    }

    .commentPagination > li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 13px;
    }
}
