button {
    background-color: transparent;
    border-radius: 10%;
    border: 1px solid gray;
}

.entireBtn > button:hover {
    background-color: rgb(140, 111, 77);
    color: white;
}

.commentBtn {
    background-color: white;
    border: 1px solid gray;
}

.commentBtn:hover {
    background-color: rgb(140, 111, 77);
    color: white;
    border: none;
}

.entireWrap {
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 0 6rem;
}
#comment {
    border: 1px solid gray;
    width: 30%;
    /* margin-left: 50px; */
}
/* 댓글 다는 부분 */
.comment_wrap {
    /* padding-top: 20px; */
    /* background-color: rgba(218, 206, 171, 0.655); */
    /* padding-bottom: 50px; */
}
/* 댓글 li 리스트 */
/* .commentListWrap {
    background-color: #f2d7bd48;
} */

/* 게시물 내용 */
.toastui-editor-contents > p {
    font-size: 20px;
}

li {
    list-style: none;
    display: flex;
    /* justify-content: space-evenly; */
}

/* 댓글 목록 */
.commentList {
    background-color: #f2d7bd48;
    font-size: 15px;
    /* background-color: beige; */
}
.commentList > li {
    border-bottom: 1px solid #2b5059;
}
/* 
.backButton {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 100px;
} */

.entireBtn {
    margin-bottom: 5px;
    padding: 0 6rem;
    /* margin-left: 100px; */
    margin-top: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    border-bottom: 1px solid black;
}

.commentPagination > li {
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}
.commentPagination > li > a {
    color: #719ba6;
    text-decoration: none;
}
.commentPagination > li > a:hover,
.commentPagination > li > a:active {
    color: #594634;
    text-decoration: none;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1179px) {
    .entireWrap {
        height: 100%;
        /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
        padding: 0 2rem;
    }
    #comment {
        margin-top: 10px;
        /* border: none; */
    }
    .entireBtn {
        padding: 0 2rem;
    }
    .commentListWrap {
        background-color: #f2d7bd48;
    }
}

/* 모바일 */
@media all and (max-width: 767px) {
    /* .commentPagination > li {
        float: left;
    } */
    .entireWrap {
        height: 100%;
        /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
        padding: 0 2rem;
    }

    /* 댓글 다는 부분 */
    #comment_wrap {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    /* 댓글 전체 감싸는부분 */
    .comment_wrap {
        padding-left: 10px;
    }

    /* 게시물 부분 */
    .article_wrap {
        margin-top: 20px;
        /* background-color: red; */
    }
    #comment_wrap {
        padding-top: 20px;
    }

    #comment {
        margin-top: 10px;
        /* border: none; */
        margin-left: -50px;
        width: 4 5%;
    }
    .entireBtn {
        padding: 0 2rem;
    }

    .commentPagination > li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 13px;
    }
    .commentListWrap {
        background-color: #f2d7bd48;
    }
}
