input {
    margin-top: 23px;
    font-size: 40px;
    border: none;
    outline: none;
}

button {
    font-size: 15px;
    background-color: transparent;
    /* border: 2px solid rgb(206, 156, 102); */
    border: 1px solid gray;
    border-radius: 10%;
    float: right;
    margin: 0 5px;
}

button:hover {
    background-color: rgb(140, 111, 77);
    color: white;
}
.wrapContainer {
    padding: 0 5rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    input {
        margin-top: 23px;
        font-size: 20px;
        border: none;
        outline: none;
    }
    .wrapTitle {
        display: flex;
    }
    button {
        font-size: 15px;
        background-color: transparent;
        /* border: 1px solid rgb(206, 156, 102); */
        border: none;
        /* float: right; */
    }
}

@media all and (max-width: 767px) {
    input {
        /* margin-top: 23px; */
        font-size: 20px;
        border: none;
        outline: none;
    }
    button {
        font-size: 12px;
        background-color: transparent;
        /* border: 1px solid rgb(206, 156, 102); */
        border: none;
        /* float: right; */
    }
}
