body {
	margin: 0;
}

img {
	width: 300px;
	height: 300px;
	border-radius: 20px;
}

.main_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	gap: 80px;
}

.info_container {
	background-color: #352f44;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.alcohol_info {
	width: 480px;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
}

.name {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.name > div:nth-child(1) {
	color: white;
	font-size: 25px;
	font-weight: bolder;
}
.name > div:nth-child(2) {
	color: #b9b4c7;
	font-size: 13px;
	line-height: 25px;
	word-break: keep-all;
}

.name > div:nth-child(3) {
	width: 100px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #b9b4c7;
	border: 1px solid #b9b4c7;
	border-radius: 10px;
	font-size: 12px;
}

.ingredient_container {
	box-shadow: 0px 2px 10px #d8d9da;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.content1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

.ingredient {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
table {
	width: 40%;
	text-align: center;
}

tr > td:nth-child(1) {
	font-size: 15px;
	font-weight: bold;
}

.content2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

.recipe_container {
	box-shadow: 0px 2px 10px #d8d9da;
	display: flex;
	justify-content: center;
}

.recipe {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 85%;
}

.recipe > p,
td > p {
	padding: 8px;
	font-size: 15px;
	word-break: keep-all;
}

.likeBtn {
	width: 4rem;
	height: 4rem;
	background-color: #352f44;
	border: 2px solid #b9b4c7;
	border-radius: 50%;
	font-size: 2rem;
	color: #b9b4c7;
	cursor: pointer;
}

.content1 > span,
.content2 > span {
	color: tomato;
	padding: 10px;
	font-size: larger;
	font-weight: 800;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1179px) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
	.info_container {
		flex-direction: column;
		height: 100%;
		padding-top: 50px;
	}

	.alcohol_info {
		width: 300px;
	}

	.btn_box {
		padding: 0 0 50px 100px;
	}

	table {
		width: 80%;
	}
	.recipe {
		width: 90%;
	}
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
	.info_container {
		flex-direction: column;
		height: 100%;
		padding-top: 50px;
	}

	.alcohol_info {
		width: 300px;
	}

	.btn_box {
		padding: 0 0 50px 100px;
	}

	table {
		width: 80%;
	}
	.recipe {
		width: 90%;
	}
}
