<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>채팅방</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
        <link
            rel="stylesheet"
            href="/staticComponent/header2.css"
        />
        <link
            rel="stylesheet"
            href="\findFriendPage\chatRoomPage.css"
        />
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        ></script>
    </head>
    <body>
        <div
            id="wrapper_ch"
            style="width: 100%; overflow: hidden"
        >
            <header>
                <div id="header"></div>
            </header>
            <nav class="chat-nav">
                <div
                    class="nav-list"
                    id="nav-list"
                >
                    <a href="/find-friends">목록</a>
                </div>

                <section class="user-container">
                    <div>
                        <span>참여 인원: </span>
                        <span id="size">0명</span>
                    </div>
                    <hr />
                    <div id="participant"></div>
                </section>
                <div class="nav-user">대화 상대</div>
            </nav>

            <main class="mainContainer">
                <section style="width: 100%">
                    <div
                        id="chatArea"
                        class="chatArea"
                    ></div>
                </section>
                <div class="chatInputContainer">
                    <textarea
                        type="text"
                        placeholder="chat"
                        name="chat"
                    ></textarea>
                    <input
                        type="button"
                        class="send"
                        value="보내기"
                        disabled
                    />
                </div>
            </main>
        </div>
        <script src="\findFriendPage\chatRoomPage.js"></script>
        <script src="/staticComponent/header.js"></script>
        <script src="/staticComponent/header.js"></script>
    </body>
</html>
