<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <input
            type="text"
            placeholder="chat"
            name="chat"
        />
        <button
            type="button"
            class="send"
        >
            보내기
        </button>
        <span id="size">0명</span>
        <div id="chatArea"></div>
        <div
            id="participant"
            style="display: flex; flex-direction: column"
        ></div>
        <script src="\findFriendPage\chatRoomPage.js"></script>
    </body>
</html>
