<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
        <link
            rel="stylesheet"
            href="/staticComponent/header2.css"
        />
        <link
            rel="stylesheet"
            href="\findFriendPage\chatRoomPage.css"
        />
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        ></script>
    </head>
    <body>
        <div
            id="wrapper_ch"
            style="width: 100%"
        >
            <header>
                <div id="header"></div>
            </header>
            <main class="mainContainer">
                <section>
                    <button>+</button>
                    <span id="size">0명</span>
                    <div
                        id="participant"
                        style="display: flex; flex-direction: column"
                    ></div>
                </section>

                <section style="width: 100%">
                    <div
                        id="chatArea"
                        class="chatArea"
                    ></div>
                </section>
                <div class="chatInputContainer">
                    <textarea
                        type="text"
                        placeholder="chat"
                        name="chat"
                    ></textarea>
                    <input
                        type="button"
                        class="send"
                        value="보내기"
                        disabled
                    />
                </div>
            </main>
        </div>
        <script src="\findFriendPage\chatRoomPage.js"></script>
        <script src="/staticComponent/header.js"></script>
    </body>
</html>
