<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<!-- <script src="/socket.io/socket.io.js"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
		<link rel="stylesheet" href="\findFriendPage\findFriendPage.css" />
		<script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>

		<link rel="stylesheet" href="/staticComponent/header2.css" />
		<link rel="stylesheet" href="/staticComponent/footer.css" />
	</head>
	<body>
		<div id="wrapper_ch">
			<header>
				<div id="header"></div>
			</header>

			<!-- <h1>방 만들기</h1> -->
			<input type="text" placeholder="방이름" name="roomName" />
			<input type="text" placeholder="info" name="roomInfo" />
			<button type="button" class="createRoomBtn">방 만들기</button>
			<input type="text" placeholder="find" name="find" />
			<button type="button" class="find">태그 등록</button>

			<!-- -------------------------------------------------------- -->
			<div id="tags"></div>
			<div class="wrapper">
				<div>
					<p class="title">나의 방 목록</p>
					<div id="participation"></div>
				</div>
				<div>
					<p class="title">현재 방 목록</p>
					<div id="allRoom"></div>
				</div>
			</div>
		</div>
		<footer>
			<div id="footer"></div>
		</footer>

		<script src="\findFriendPage\findFriendPage.js"></script>
		<script src="/staticComponent/footer.js"></script>
		<script src="/staticComponent/header.js"></script>
	</body>
</html>
