<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
        <link
            rel="stylesheet"
            href="/findFriendPage/findFriendPage.css"
        />
        <link
            rel="stylesheet"
            href="/staticComponent/header2.css"
        />
        <link
            rel="stylesheet"
            href="/staticComponent/footer.css"
        />
    </head>
    <body>
        <div
            id="wrapper_ch"
            style="overflow: hidden; width: 100%"
        >
            <header>
                <div id="header"></div>
            </header>

            <nav
                class="chat-nav"
                style="position: relative"
            >
                <div class="chat-search">
                    <div class="chat-search-top">
                        <div>채팅방 검색하기</div>
                        <div class="exit">x</div>
                    </div>
                    <hr />
                    <div>
                        <input
                            class="search-input"
                            type="text"
                            placeholder="원하는 검색명"
                            name="find"
                        />
                        <button
                            type="button"
                            class="find"
                        >
                            검색버튼
                        </button>
                    </div>
                    <hr />
                    <div class="search-bottom">
                        <div
                            class=""
                            style="
                                display: flex;
                                gap: 50px;
                                overflow: hidden;
                                height: 100%;
                            "
                        >
                            <div id="allRoom">검색을 해주세요.</div>
                        </div>
                    </div>
                </div>

                <div
                    class="nav-list"
                    id="nav-list"
                    style="position: absolute; margin: 0 2rem; cursor: pointer"
                >
                    목록
                </div>
                <div
                    class="nav-chat-add"
                    style="position: absolute; margin: 0 8rem; cursor: pointer"
                >
                    채팅방 만들기
                </div>
                <div
                    class="nav-search"
                    style="
                        position: absolute;
                        margin: 0 2rem;
                        right: 0;
                        cursor: pointer;
                    "
                >
                    채팅방 검색
                </div>
            </nav>

            <div
                class="chat-list"
                id="chat-list"
            >
                <h1 class="chatTitle">채팅방 목록</h1>
                <div id="participation"></div>
            </div>

            <div
                class="chat-add disappear"
                id="chat-add"
            >
                <div class="backgroundImg">
                    <div class="chatAddForm">
                        <div class="chat-name">
                            <label>채팅방 이름</label>
                            <input
                                type="text"
                                placeholder="방이름"
                                name="roomName"
                            />
                        </div>
                        <div class="chat-info">
                            <label>채팅방 설명</label>
                            <input
                                type="text"
                                placeholder="채팅방 설명"
                                name="roomInfo"
                            />
                        </div>
                        <button
                            type="button"
                            class="createRoomBtn"
                        >
                            채팅방 만들기
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div id="footer"></div>
        </footer>

        <script src="\findFriendPage\findFriendPage.js"></script>
        <script src="/staticComponent/footer.js"></script>
        <script src="/staticComponent/header.js"></script>
    </body>
</html>
