<!DOCTYPE html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
		<link rel="stylesheet" href="/staticComponent/header2.css">
		<link rel="stylesheet" href="/staticComponent/footer.css">
		<link rel="stylesheet" href="/login/login.css">

		<title>login</title>
	</head>
	<body>
		<header>
        <div id='header'></div>
		</header>
		<h1>로그인</h1>
		<form class='login_form' id="loginform">
        <div class='login_input'>
					<div class='id_input'>
              <input class='login-input' type="text" id="user_id" placeholder="아이디" />
          </div>
					<div class='pw_input'>
						<input class='login-input' type="password" id="user_pw" placeholder="비밀번호" />
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<div class='button'>
            <button class='custom-btn check-btn' type="button" onclick="loginFunc()">로그인</button>
        </div>
		</form>
		<footer>
        <div id='footer'></div>
		</footer>

		<script src="\login\login.js"></script>
		<script src='/staticComponent/footer.js'></script>
		<script src="/staticComponent/header.js"></script>
	
	</body>
</html>
